.container {
  width: 30rem;
  background: var(--color-white);
  max-height: 46.7rem;
  padding: 1.6rem;
  border-radius: 18px;
}
.box-top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-text {
  font-size: var(--24);
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--color-black);
}

.top-number {
  font-size: var(--12);
  font-weight: 400;
  padding: 0.5rem 1.6rem;
  background: var(--color-gray);
  border-radius: 6px;
}
.text-empty {
  font-size: var(--16);
  margin-top: 1.5rem;
  color: var(--color-black);
  font-weight: 600;
}
.container-food {
  margin-bottom: 1.6rem;
  max-height: 25.3rem;
  overflow: auto;
  margin-top: 1.2rem;
}
.container-food::-webkit-scrollbar {
  width: 3px;
}
.container-food::-webkit-scrollbar-thumb {
  background-color: var(--color-light-orange);
  border-radius: 20px;
}
.box-buttom-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.buttom-text {
  font-size: var(--16);
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
}
.buttom-amount {
  font-size: var(--16);
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
}
.delivery-wrapper {
  margin-top: 1.2rem;
}
.dilivery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.delivery-text {
  font-size: var(--12);
  font-weight: 400;
  color: var(--color-black);
}
.delivery-icons {
  width: 2.4rem;
  height: 2.4rem;
}
.close-basket {
  background: none;
  border: none;
  font-size: var(--12);
  color: #b1b1b1;
  display: none;
  cursor: pointer;
}
.close-basket:active {
  transform: scale(0.98);
}

@media (max-width: 998px) {
  .wrapper {
    margin-bottom: 3rem;
    position: relative;
  }
  .container {
    width: 35rem;
    position: absolute;
    top: -12rem;
  }

  .close-basket {
    display: block;
  }
  .delivery-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .dilivery-container {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .top-text {
    font-size: var(--16);
  }
  .top-number {
    font-size: 10px;
  }
  .buttom-text {
    font-size: var(--12);
  }
  .buttom-amount {
    font-size: var(--12);
  }
  .container {
    width: 30rem;
    top: -10rem;
  }
  .text-empty {
    font-size: var(--12);
    margin-top: 1rem;
  }
}
@media (max-width: 576px) {
  .wrapper {
    position: relative;
  }
  .container {
    width: 100%;
  }
}
