.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
  padding: 1.5rem 0;
}
.box-food {
  display: flex;
}
.img {
  width: 64px;
  height: 52px;
  margin-right: 6px;
  border-radius: 8px;
  object-fit: cover;
}
.title {
  font-size: var(--12);
  font-weight: 400;
  color: var(--color-black);
  line-height: normal;
  margin-bottom: 1px;
}
.weight {
  font-size: var(--12);
  font-weight: 400;
  color: #b1b1b1;
  line-height: normal;
  margin-bottom: 6px;
}
.price {
  font-size: var(--12);
  font-weight: 400;
  color: var(--color-black);
}
/* .container-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-gray);
  padding: 0.9rem 1.2rem;
  border-radius: 12px;
}
.text-quantity {
  font-size: var(--16);
  font-weight: 400;
}
.btn-minus {
  background: none;
  border: none;
  padding: 3px;
  font-size: var(--16);
  font-weight: 400;
}
.btn-plus {
  background: none;
  border: none;
  padding: 3px;
  font-size: var(--16);
  font-weight: 400;
}
.btn-minus:active {
  transform: scale(0.98);
}
.btn-plus:active {
  transform: scale(0.98);
} */

@media (max-width: 768px) {
  .text-quantity {
    font-size: var(--12);
  }
  .btn-minus {
    font-size: var(--12);
  }
  .btn-plus {
    font-size: var(--12);
  }
}
