.wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10rem;
}

@media (max-width: 1280px) {
  .wrapper {
    padding-left: 3rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 998px) {
  .wrapper {
    display: block;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding-left: 1rem;
  }
}
