.menu {
  width: 70%;
  max-height: 85.2rem;
  overflow: auto;
  padding-right: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.menu::-webkit-scrollbar {
  width: 5px;
}
.menu::-webkit-scrollbar-thumb {
  background-color: var(--color-light-orange);
  border-radius: 20px;
}
.error-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}
.error {
  font-size: 15rem;
  margin-bottom: 4rem;
  font-weight: 600;
  color: var(--color-light-orange);
  animation: blinker 3s linear infinite;
}
.error-message {
  font-size: var(--24);
  color: var(--color-black);
  line-height: 35px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media screen and (max-width: 1280px) {
  .menu{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 998px) {
  .menu{
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .menu{
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    max-height: 65rem;
  }
}