.wrapper {
  max-width: 100%;
  padding: 1.2rem;
  background: var(--color-white);
  border-radius: 18px;
}
.container {
  cursor: pointer;
}
.img {
  width: 100%;
  height: 22rem;
  border-radius: 12px;
  margin-bottom: 1.6rem;
  object-fit: cover;
}
.price {
  margin-bottom: 0.8rem;
  line-height: 2.4rem;
  font-size: var(--24);
  font-weight: 600;
  color: var(--color-black);
}
.title {
  margin-bottom: 2.9rem;
  font-size: var(--16);
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
}
.weight {
  margin-bottom: 0.8rem;
  font-size: var(--16);
  font-weight: 600;
  line-height: 2.1rem;
  color: #b1b1b1;
}
.button {
  width: 100%;
  padding: 1.1rem 0;
  line-height: 1.6rem;
  font-size: var(--16);
  font-weight: 400;
  border-radius: 12px;
  background: var(--color-gray);
  border: none;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .img {
    height: 12rem;
  }
  .price {
    font-size: var(--16);
  }
  .title {
    font-size: var(--12);
    margin-bottom: 1.6rem;
  }
  .weight {
    font-size: var(--12);
  }
  .button {
    font-size: var(--12);
  }
}
