.wrapper {
  width: 100%;
  margin: 0 auto;
}
.container {
  background: var(--color-light-orange);
  margin-bottom: 5rem;
}
.text-container {
  padding-top: 2.5rem;
}
.headerLogo {
  height: 2.9rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 7rem;
}
.containerPic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-pic {
  width: 32.6rem;
}
.container-text {
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}
.heading {
  font-size: var(--50);
  line-height: 6rem;
  color: var(--color-white);
  font-weight: 800;
}
.container-text span {
  color: var(--color-orange);
}
.dilivery-text {
  font-size: var(--16);
  font-weight: 400;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .headerLogo {
    margin-bottom: 5rem;
  }
  .container-text {
    gap: 2.5rem;
  }
  .img-pic {
    width: 22.7rem;
  }
  .heading {
    font-size: 3.6rem;
    line-height: 43.2px;
  }
}

@media (max-width: 576px) {
  .containerPic {
    flex-direction: column;
  }
  .img-pic {
    order: 1;
  }
  .heading {
    text-align: center;
  }
  .container-text {
    gap: 1.5rem;
  }
  .dilivery-text {
    text-align: center;
    font-size: var(--12);
    margin-bottom: 2rem;
  }
  .headerLogo {
    margin-bottom: 2.5rem;
  }
  .heading{
    font-size: 3rem;
    line-height: 3.6rem;
  }
}
