.wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-white);
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
}
.wrapper:active {
  transform: scale(0.98);
}

.active {
  background: var(--color-light-orange);
}
