.wrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  background: var(--color-white);
  padding: 0.8rem 1.5rem;
  font-size: var(--16);
  color: var(--color-black);
  font-weight: 400;
  border-radius: 5rem;
  cursor: pointer;
}
.icons {
  width: 2.4rem;
}
.wrapper:active {
  transform: scale(0.98);
}

.active {
  background: var(--color-light-orange);
}

@media (max-width: 576px) {
  .wrapper {
    font-size: var(--12);
  }
}
