.wrapper {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

@media (max-width: 1280px) {
  .wrapper {
    overflow: auto;
    white-space: nowrap;
    justify-content: flex-start;
    padding-left: 3rem;
  }
  .wrapper::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 998px) {
  .wrapper{
    margin-bottom: 15rem;
  }
}

@media (max-width: 768px) {
  .wrapper{
    gap: 15px;
    padding-left: 2rem;
    margin-bottom: 12rem;
  }
}

@media (max-width: 576px){
  .wrapper{
    padding-left: 1rem;
    gap: 1rem;
    /* margin-bottom: 15rem; */
  }
}