.wrapper {
  background: var(--color-white);
  padding: 5rem 7.5rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 6rem;
}
.logo {
  height: 5.8rem;
}
.box1 {
  display: flex;
  align-items: center;
}
.box1 i {
  margin-right: 5px;
  font-size: var(--12);
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-black);
}
.box1 p {
  font-size: var(--12);
  font-weight: 400;
  color: var(--color-black);
}
.box2 {
  display: flex;
  align-items: center;
}
.heading {
  font-size: var(--24);
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--color-black);
  margin-bottom: 2.5rem;
}
.box2 p {
  font-size: var(--16);
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--color-black);
}

.box3 i {
  font-size: 3.6rem;
  color: var(--color-orange);
  cursor: pointer;
}
.box3 a {
  margin-right: 1.6rem;
}
.box3 a:last-child {
  margin-right: 0;
}
.box:nth-child(1) {
  grid-column: 1/4;
}
.box:nth-child(2) {
  grid-column: 6/9;
}
.box:nth-child(3) {
  grid-column: 10/13;
}

@media (max-width: 998px) {
  .wrapper {
    padding: 5rem 3rem;
  }
  .container {
    margin-bottom: 0;
  }
  .box:nth-child(2) {
    grid-column: 9/13;
    margin-bottom: 4rem;
  }
  .box:nth-child(3) {
    grid-column: 9/13;
    grid-row: 2;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 5rem 3rem;
  }
  .container {
    margin-bottom: 0;
    gap: 40px;
  }
  .heading {
    margin-bottom: 1.5rem;
  }
  .box:nth-child(2) {
    grid-column: 1/6;
    margin-bottom: 4rem;
  }
  .box:nth-child(3) {
    grid-column: 7/13;
  }
}
@media (max-width: 576px) {
  .wrapper {
    padding: 5rem 3rem;
  }
  .container {
    margin-bottom: 0;
    gap: 40px;
  }
  .heading {
    margin-bottom: 1.5rem;
  }
  .box:nth-child(1) {
    grid-column: 1/13;
    grid-row: 1/2;
  }
  .box:nth-child(2) {
    grid-column: 1/13;
    grid-row: 2/3;
    margin-bottom: 0;
  }
  .box:nth-child(3) {
    grid-column: 1/13;
    grid-row: 3/4;
    margin-bottom: 3rem;
  }
}
