.wrapper {
  position: relative;
  display: flex;
}
.conteiner-left {
  width: 50%;
  background: var(--color-light-orange);
  border-radius: 2.4rem 0 0 2.4rem;
  padding: 6.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 70%;
}

.conteiner-right {
  width: 50%;
  padding: 2.4rem;
}
.close-module {
  font-size: var(--24);
  background: none;
  border: none;
  position: fixed;
  right: 2.4rem;
  color: #b1b1b1;
  cursor: pointer;
}
.close-module:active {
  transform: scale(0.98);
}

@media (max-width: 998px) {
  .conteiner-left {
    display: none;
  }
  .conteiner-right {
    width: 100%;
  }
}
