.button {
  width: 100%;
  padding: 1.1rem 0;
  font-size: var(--16);
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--color-white);
  background: var(--color-orange);
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.button:active {
  transform: scale(0.98);
}
@media (max-width: 768px) {
  .button {
    font-size: var(--12);
  }
}
