.container-quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-gray);
  padding: 0.9rem 1.2rem;
  border-radius: 12px;
}
.text-quantity {
  font-size: var(--16);
  font-weight: 400;
}
.btn-minus {
  background: none;
  border: none;
  padding: 3px;
  font-size: var(--16);
  font-weight: 400;
  cursor: pointer;
}
.btn-plus {
  background: none;
  border: none;
  padding: 3px;
  font-size: var(--16);
  font-weight: 400;
  cursor: pointer;
}
.btn-minus:active {
  transform: scale(0.98);
}
.btn-plus:active {
  transform: scale(0.98);
}
